@import "colors";
@import "variables";

@mixin clearfix {
  content: '';
  display: table;
  clear: both;
}
@mixin squares{
  float:left;
  float: left;
  width: 33%;
  height: 500px;
  border: 1px solid black;
}



*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.header{
  height: 70px;
  background-color: $bg-color;
  margin:0 auto;

  &-link{
    text-align: center;
    line-height: 70px;
  }

  &-link>li{
    padding: 0 30px;
    text-decoration: none;
    display: inline-block;
    color:$word-color;

  }
  &-link>li>a{
    color:$word-color;
    text-decoration:none;

  }
    &-link>li>h2{
      color:$word-color;

    }

}

.jumbotron{
  height: 500px;
  border: 1px solid black;

  &:after{
    @include clearfix;
  }

  .first{
    @include squares;

    &>img{
      height: 100%;
    }
  }
  .second{
    @include squares;
  }
  .third{
    @include squares;
  }
}
