@import "colors";
@import "variables";

@mixin clearfix {
  content: '';
  display: table;
  clear: both;
}
@mixin squares{
  float:left;
  float: left;
  width: 33%;
  height: 500px;
}



*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.header{
  height: 70px;
  background-color: $bg-color;
  margin:0 auto;

  &-link{
    text-align: center;
    line-height: 70px;
  }

  &-link>li{
    padding: 0 30px;
    text-decoration: none;
    display: inline-block;
    color:$word-color;

  }
  &-link>li>a{
    color:$word-color;
    text-decoration:none;

  }
    &-link>li>h2{
      color:$word-color;

    }

}

.jumbotron{
  height: 500px;
  background-image: url($img-bg);
  background-size:cover;


  &:after{
    @include clearfix;
  }

  .first{
    @include squares;
  }
  .second{
    @include squares;
    text-align: center;
    padding-top: 70px;


    &>h2{
      color:$word-colors;
      padding: 10px 0;
    }

    &>h2>span{
      color:pink;
      font-style:oblique;
      font-size: 30px;
    }
    &>ul{
      color:$word-colors;
      list-style-type: none;
      font-size: $font-size-li;
      padding: 5px 0;
    }
    &>ul>li{
      padding: 5px 0;
    }

    &>h3{
      color:$word-colors;
      padding: 10px 10px;
    }

  }
  .third{
    @include squares;

    &-black{
      width: 500px;
      height: 400px;
      background-color:$bg-color;
      margin-top: 50px;

      &>span{
        color:$word-color;
        font-size: 25px;
        padding:25px 25px;
      }




    }
  }
}
